@import './../../styles/variables';

.toolBox {
  padding: 30px 40px 0 40px;
  position: relative;
  width: 100%;
  color: $smalt_blue;
  background: #FEFEFF;
}

.filterers {
  background: #FFFFFF;
  margin-bottom: 30px;

  select, input {
    border: none;
    box-shadow: none;
    color: $smalt_blue;
    font-size: 18px;
    font-weight: 200;

    &:focus {
      box-shadow: none;
    }
  }
}

.searchHolder {
  color: $loblolly;
  cursor: pointer;
}

.glyphicon {
  font-size: 19px;
  padding: 6px 6px;
  background: none;
  color: $smalt_blue;
  border: none;
}

.navBar {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $mistic;

  ul {
    display: flex;
  }

  li {
    flex-grow: 1;

    a {
      color: $loblolly;
      cursor: no-drop;
      padding: 20px 15px;
      font-size: 18px;
      font-weight: 200;

      &:hover {
        background: rgba(234, 242, 247, 0.23);
      }
    }

    a.active {
      color: $smalt_blue;
    }
  }
}
